 *{
margin:0; 
padding:0;
text-decoration: none;
list-style:none;
box-sizing: border-box;
 }
p{
/* background-color: black; */
border: 5px solid blue;
width: 800px;
height: 50px;
border-radius:20px;
text-align:center;
margin-top: 15px;
transition:1.5s;
}

p:hover{
background-color: aqua;
width: 1400px;
height: 60px;
font-size: 25px;
border: none;

}
p:active{
background-color: rgba(12, 193, 18, 0.927);
width: 1000px;
height: 60px;
font-size: 25px;
/* border: none; */

}
p:first-child{
background-color: black;
color:#fff
}
p:last-child{
background-color: yellow;
color:black
}
p:nth-child(1){
background-color: rgb(117, 108, 6);
color: #fff;
}
p:nth-child(odd){
background-color: white;
color: rgb(140, 85, 14);
}
p:nth-child(even){
background-color: black;
color: #fff;
}
form{
margin-top:20px;
}
input:focus{
background-color: red;
}
.wrap{
width: 600px;
height: 600px;
margin: auto;
margin-top: 20px;
margin-bottom: 50px;
background-image: linear-gradient rgba(255, 0, 0, 0781),rgba(0, 0, 0, 0.495),rgb(230, 230, 13),
rgb(28, 3, 71),rgb(69, 232, 232),url(.);

border-radius:50px;
background-size:cover;
background-repeat:no-repeat;
background-position:center;
}

.wrap img{
width: 600px;
height: 600px;
border-radius:50px;
opacity: .6;
}


